$bg: #f6f6f6;
$bg2: #f0f1f3;
$divBg: #ffffff;

$fontColor: black;
$linkColor: #343685;

$errColor: red;

$divBorderColor: #5583f7;

$walletBtnBg: #ffffff;
$walletBtnColor: #3e70e9;
$walletBtnOutline: rgba(62, 112, 231, 0.5);

$inputBorder: #5583f7;

$btnBg: #ffffff;
$btnBg2: #5583f7;
$btnFontColor: #ffffff;
$btnBoxShadow: rgba(255, 255, 255, 0.2);

$btnBoxShadow-sushi: rgb(226, 214, 207);
$btnBoxShadow-sushi-2: rgb(247, 244, 242);

$titColor: #000000;
$txtColor: #aa9585;
$notesColor: #9492c4;

$tableSeparationColor: #222946;
